<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <script type="text/javascript">
        if (!window.EventSource) {
            alert('no SSE');
        }
        var source = new EventSource('serverMessage');
        var str = "";
        source.addEventListener('message', function (e) {
            str += new Date().toDateString() + ": " + e.data + "<br/>";
            document.getElementById("message-response").innerHTML = str;
        });

        source.addEventListener('open', function (e) {
            document.getElementById("status").innerHTML = "connected"
        });

        source.addEventListener('error', function (e) {
            document.getElementById("status").innerHTML = e.readyState;
        });
    </script>
</head>
<body>
    <p>Messages from server:</p>
    <div id="status">waiting</div>
    <div id="message-response"></div>
</body>
<script th:inline="javascript">

    var errormessage = [[${error}]];
    errorDialog(errormessage);

    var successmessage = [[${success}]];
    successDialog(successmessage);

    function errorDialog(errormessage) {
        if (null != errormessage) {
            swal("", errormessage.toString(), "error");
        }
    }

    function successDialog(successmessage) {
        if (null != successmessage) {
            swal("", successmessage.toString(), "success");
        }
    }
</script>
</html>